*.aux
*.flg
*.glo
*.idx
*.lof
*.log
*.maf
*.mtcV
*.mtc0
*.mtc1
*.mtc2
*.mtc3
*.mtc4
*.mtc5
*.mtc6
*.mtc7
*.toc
*.mtc
*.txt
*.swp
*.bbl
*.blg
*_no-git_*
*.out
*.log
*.lot
*.tmp
*.aux
*.pdf
*.synctex.gz
